@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
  src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-bold';
  src: url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
  src: url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wrapper {
    min-height: 100%;
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
.header{
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    background-color: #243643;
    border-bottom: 1px solid black;
}
.user {
  display: inline;
  width: 35px;
  height: 35px;
  border: 1px solid #cacaca;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 5px;
  margin-top: 15px;
  position: relative;
  float: right;
  margin-left: 15px;

}
.right{
    color: white;
    font-size: 12px;
    padding-right: 10px;
    position: relative;
    float: right;
    margin-top:25px; 
}

.dropdown-box{
    position: fixed;
    z-index : 1;
    margin-left: 89%;
    height: 150px;
    width: 180px;
    background-color: #ffffff;
    border: 1px solid black;
    margin-top: 0px;
    display: none;
}

.header-option{
    font-family: opensans;
    font-size: 15px;
    margin: 12px;
    font-weight: semibold;
    color: #000000;
    margin-left: 0px;
}

.header-option:active, .header-option:hover, .header-option:visited{

    outline: none;
    border: transparent;
    color: #000000;
    text-decoration: none;
}


.square{
    display: inline-block;
    width: 18px;
    height: 18px;
    z-index: 3;
    background-color: #ee2836;
    border-radius: 50px;
    text-align: center;
    margin-left: 74%;
    margin-top: 15px;
}

.notification{
    width: 40px;
    height: 40px;
    margin-left: 80%;
    font-size: 20px;
    color: white;
}
.notify{
    display: inline-block;
    margin-right: 25px;
    padding-top: 25px;
    right: 0;
    position: relative;
    float: right;
}
.step{
    background-color: transparent;
    border: transparent;
    width: 14%;
}

.side-bar{
    position: fixed;    
    background-color: #505e69;
    width: 80px;
    overflow: hidden;
    margin-top: 70px; 
}

.sidebar-wrapper {
    height: 100%;
    position: fixed;
}

#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.logo{
    width: 170px;
    height: 40px;
    margin: 15px;
    margin-left: 25px;
}

.option-symbol{
    width: 20px;
    height: 25px;
    display: inline;
    margin-left: -100px;
    margin-right: 35px;
}

.option-value{
    display: inline;
    overflow: hidden;
    font-size: 14px;
    font-family: opensans;
    font-weight: semibold;
}

.options{
    width: 240px;
    height: 65px;
    background-color: transparent;
    border: 0px;  
    border-bottom: 1px solid #616e78;
}

.trade-sub-nav{
    display: none;
}
.options:focus{
    outline: 0;
}

.active{
    border-left: 6px #f4f5f5 solid;
    background-color: #f4f5f5;
}

.main{
    overflow-x: hidden;
    padding-left: 80px;
    margin-top: 70px;
    background-color: #f4f5f5;
    min-height: 870px;
}

.step-progress-bar{
    margin-top: 20px;
}

.stepuw1{
    border-top: 2px solid #858f96;
    width: 28%;
    margin-top: 25px;
    margin-left: 65px;
    display: inline-block;
}
.stepuw2{
 border-top: 2px solid #eaeaea;
    width: 59%;
    margin-top: 25px;   
    display: inline-block;
}
.stepc1{
    border-top: 2px solid #858f96;
    width: 0%;
    margin-top: 25px;
    margin-left: 65px;
    display: inline-block;
}
.stepc2{
 border-top: 2px solid #eaeaea;
    width: 87%;
    margin-top: 25px;   
    display: inline-block;
}
.prog{
    margin-top: -14px;
}
.steps{
    border-radius: 500px;
    height:18px ;
    width: 1%;
    background-color: transparent;
    margin-left: 7%;
    margin-right: 6%;
    text-align: left;
    vertical-align: top;
    color: #ffffff;
    border: 0px;
}
.first{
    margin-left: 25px!important;
}
.prog-wrong:after{
        content: '';
}
.prog-done:after{
        content: '';
}
.prog-todo:after{
        content: '';
}
.prog-wrong{
    background-color: #243643;
}
.prog-todo{
    background-color: #b4b8bb;
    cursor: default;
    margin-right: 7%;
}
.prog-done{
    background-color: #243643;
}
.step{
    display: inline-table;
    width: 14%;
    font-family: opensans;
    font-size: 12px;
}
.done{
    cursor: pointer;
    color: #243643;
}
.wrong{
    cursor: pointer;
    color: #243643;
}
.todo{
    color: #b4b8bb;
    cursor: default;
}
.shift{
    padding-left: 40px;
}
.shift-back{
    margin-left: -20px;
}

.unwanted-group{
    font-family: opensans;
    font-size: 24px;
    display: inline;
    margin-bottom: 5px;
    color: #243643;
    margin-left: 5px;
}
.buttn{
    height: 32px;
    font-family: opensans;
    font-size: 14px;
    border-radius: 0px;
    width: 100px;
    font-weight: 600;
    border: 0px;
}

.create-btns{
    clear: both;
    padding-top: 20px;
    margin-left: 20px;
}
.edit-btns{
    clear: both;
    overflow: auto;
}
.back{
    margin-left:20px; 
    background-color: white;
}

.next{
    float: right;
    margin-right: 20px;
    color: #ffffff;
    background-color: #243643;
}

.save{
    background-color: #35495d;
    float: right;
    margin: 20px;
    margin-right: 22%;
    color: #ffffff;
}

.cancel{
    margin: 20px;
    background-color: #d8dadc;
    float: right;
    margin-right: 0px;
}

.create{
    background-color: #243543; 
    float: right;
    margin: 5px;
    color: #ffffff;
    margin-right: 25px;
}

.select{
    width: 160px;
    float: right;
    margin: 5px;
    background-color: #d8dadc;
}

.tag-name{
    margin: 20px;
    margin-bottom: 0px;s
    font-family: opensans;
    font-size: 14px;
    font-weight: 500;
}

.tag{
    margin: 20px;
    width: 250px;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: opensans;
    height: 30px;
}

ul{
    list-style-type: none;
}

.steps:focus {outline:0; }

.group-tag{
    font-family: opensans;
    font-size: 12px;
    margin-top: 25px;
    display: inline;
    margin-left: 20px;
    background-color: #243643;
    color: white;
    border-radius: 3px;
    padding: 5px;
}
.cross:before{
    content: "\00a0""\00a0""\02716"" ";
}
.remove-group{
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.total{
    display: inline;
    float: right;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
}
.cell{
    min-width: 19%;
    display: inline-block;
    text-align: left;
}
.new-group {
    margin: 22px;
    font-family: opensans;
    font-size: 14px;
    display: none;
    background-color: white;

}
.group-allocation, .select-group{
    margin: 22px;
    font-family: opensans;
    font-size: 14px;   
    background-color: white;
}

.sub-heading{
    height: 60px;
    width: 98%;
    margin-left: 1%;
}


.select-heading{
    font-family: opensans;
    font-size: 16px;
    margin: 17px;
    margin-bottom: 0px;
    margin-left: 5px;
    color: #243643;

}

.select-group-groups{
    overflow-y: scroll;
    height: 120px;
    margin-left: 10px;
}

.select-group-name{
    color: #666666;
    margin: 12px;
}
.groups-name{
    display: inline;
    font-family: opensans;
    font-size: 14px;
    font-weight: normal;
}

.checkbox-group{
    margin: 7px 0px;
    height: 25px;
    padding-left: 15px;
}
.group-heading, .select-group-heading{
    font-family: opensans;
    font-size: 16px;
    margin: 17px;
    margin-left: 20px;
    width: 300px;
    display: inline-block;
    color: #243643;
}

.create-new{
    width: 130px; 
    float: right;   
    margin: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    cursor:pointer; 
}

.group-name{
    border: 0px;
    width: 70px;
    max-width: 400px;
}
.down-arrow{
    float: right;
    height: 20px;
    width: 20px;
    margin: 15px;
    display: inline;
}

.table{
    font-family: opensans;
    font-size: 14px;
}   

.table th, .table td { 
    text-align: center;
    height: 40px;
    vertical-align: middle;
    font-weight: normal;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}


.table tbody>tr>th.vert-align{
    vertical-align: middle;
}
.ad-id{
    text-align: left!important;
    vertical-align: middle;
    width: 250px;
}

.footer{
    margin-left:65px;   
    background-color: #f4f5f5;
    padding-bottom: 35px;
}

.checkbox{
    content: url(checked.png);
    width: 20px;
    height: 20px;   
    text-align: center;
    float: left;
    margin: 0 auto;
    left: 50%;
}
.uncheck{
    content: url(checked1.png);
    width: 20px;
    height: 20px;   
    text-align: center;
    float: left;
    margin: 0 auto;
    left: 50%;
}

input[type="checkbox"] {
    display:none;
    cursor: auto;
}
input[type="checkbox"] + label {
    display:inline-block;
    width:16px;
    height:16px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background: url(checked1.png);
    border-radius: 1px;
    cursor:pointer;
}
input[type="checkbox"]:checked + label {
    background:url(checked.png) top no-repeat;
    width: 16px;
    height: 16px;
}
.header-icons{
    width: 10px;
    height: 10px;
}
.scrollbar{
    margin-right: 30px;
}
.scroll-bar::-webkit-scrollbar {
    width: .5em;
    height: .1em
}
.scroll-bar::-webkit-scrollbar-button {
    background: #ffffff;
}
.scroll-bar::-webkit-scrollbar-track-piece {
    background: #ffffff;
}
.scroll-bar::-webkit-scrollbar-thumb {
    background: #a1a1a1;    
}​